<div class="container">
  <div id="list-item-check">
    <mat-checkbox color="primary" [(ngModel)]="listItem.completed"></mat-checkbox>
  </div>
    <div id="list-item-content">
      <div class="title">{{listItem.title}}</div>
      <div class="due-date">{{listItem.date}}<</div>
  </div>
   <div id="list-item-options">
     <button id="btn-favourite" mat-button (click)="toggleFavourite()">
       <mat-icon [ngClass]="{'material-icons-outlined':!listItem.favourite}">grade</mat-icon>
     </button>

   </div>
</div>
